# Dependencies
node_modules/
**/node_modules/
vendor/
**/vendor/
.astro/
**/.astro/
.env
**/.env
bun.lock
**/bun.lock

# Distribution / Build outputs
dist/
**/dist/
build/
**/build/

# Runtime/storage
/storage/
/hot-standby.php

# IDE / OS
/.idea/
/.vscode/

# Database
*.sqlite

# Binary / Blobs
/uploads/
/media/